name: Cache CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-49e0e3a

      - name: prime-cache-49e0e3a
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"
